* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
    
}

.header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}
.studia{
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    color: #2196F3;
    
}
.portfolio{
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
    
    
}
.studio{
color: #000;
}

.footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background: #2F303A;
}