:root{
    --cnopka-color:#212121;
    --contakt-color:#757575;
    --fokus-color:#2196F3;
}
body {
font-family: 'roboto', sans-serif;
background-color: #fff;
font-size: 14px;
}
.logo{
    color: #2196F3;
    
}

.header{
    background: #2F303A;
}
/* h1 заголовок. Ефективні рішення для вашого бізнесу */
.business{
color: #FFFFFF;

}
/* кнопка */
.servis{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}
.info>li>a:hover, .info>li>a:focus{
    color: var(--fokus-color);
}
/* Студія */
.studiaa{
    color: var(--cnopka-color);
    
}

/* Портфоліо */
.portfolio{
    color: var(--cnopka-color);
    
    
}

/* "Контакти" */
.contact{
    color: var(--cnopka-color);
    
}
/* телефон та мейл */
.mail{
color: var(--contakt-color);
}
.tel{
    position: absolute;
width: 122px;
color:var(--contakt-color);
}
.detali{
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    

}

.studio{
color: #000;
}

.footer{
    background: #2F303A;
}